@font-face {
    font-family: lombok;
    src: url(font.otf);
}

h2 {
  font-family: lombok;
}

.parallax-container {
  height: 50px;
  max-height: 200px;
}

.brand-logo {
  font-family: lombok;
  margin-left: 20px;
}

#about-ref,
#skill-ref,
#work-ref {
  padding-top: 70px;
  padding-bottom: 70px;
}

#intro {
  padding: 0;
  margin: auto;
  text-align: center;
}

#intro img {
  background: url(assets/parallax1.jpg) no-repeat center center fixed;
  background-size: cover;
  max-width: 100%;
}

#about-content {
  text-align: justify;
}

#down {
  height: 40px;
  background: rgba(100,100,100,0.7);
  position: relative;
  bottom: 30px;
  text-align: center;
  min-width: 100%;
}

#down-icon {
  color: black;
}

#techicon {
  margin: 30px 0;
  text-align: center;
}

.devicon {
  font-size: 100px;
  text-align: center;
}

#work-item {
  display: inline-block;
  min-width: 800px;
  padding: 10px 0;
}

#work1 {
  float: left;
}

#work2 {
  float: right;
  width: 600px;
  padding: 5px 20px 5px 20px;
}

#work-img {
  border-radius: 3px;
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
}

#work-name {
  font-weight: bold;
  font-size: 20px;
}

#contact-list li {
  display: inline;
  margin: 0 50px;
}

#contact-list {
  text-align: center;
  min-width: 800px;
}

.modal {
  width: 90% !important;
  max-height: 83% !important;
}

#resume-pic {
  border: solid 1px black;
}

#copyright {
  text-align: right;
  margin-right: 50px;
  color: white;
}
